/* Font Family */
@font-face {
    font-family: "Avenir";
    font-weight: bold;
    src: url(../fonts/AvenirLTStd-Black.otf);
}

@font-face {
    font-family: "Avenir";
    font-weight: 600;
    src: url(../fonts/AvenirLTStd-Heavy.otf);
}

@font-face {
    font-family: "Avenir";
    font-weight: normal;
    src: url(../fonts/AvenirLTStd-Book.otf);
}

* {
    cursor: default;
}

/* Background */
body,
.background.first {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Avenir";
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1);
}

.background.first {
    z-index: 1;
}

.background.second, .background.third, .background.fourth, .background.fifth {
    background-size: cover;
    background-attachment: fixed;
    font-family: "Avenir";
    z-index: 1;
    opacity: 0;
}

.background.second {
    background-image: url(../img/bg2.png);
}

.background.third {
    background-image: url(../img/bg3.png);
}

.background.fourth {
    background-image: url(../img/bg4.png);
}

.background.fifth {
    background-image: url(../img/bg5.png);
}

@media (max-width: 768px) {

    body,
    .background {
        background-position: center;
    }
}

/* Header */
header {
    position: fixed;
    z-index: 5;
    top: 0;
}

header {
    width: 100%;
}

header .col img {
    width: 190px;
}

@media(max-width: 768px) {
    header {
        position: absolute;
    }

    header .col:last-child {
        display: none;
    }

    header .col {
        text-align: center;
    }

    header .col img {
        width: 250px;
        max-width: 100%;
        margin: 0px 10px;
    }
}

@media(max-width: 500px) {

    header .col img {
        width: 170px;
        max-width: 100%;
    }
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Wrapper */
#wrapper {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    z-index: 2;
    overflow: hidden;
}

@media (max-width: 500px) {
    #wrapper {
        min-height: 100vh;
        height: auto;
        width: 100vw;
        overflow-x: hidden;
    }
}

/* Circle */
.circle {
    width: 80vw;
    height: 80vw;
    background-color: red;
    position: absolute;
    z-index: 3;
    border-radius: 50% 0 0 50%;
    top: 50%;
    right: 0;
    background-color: rgba(38, 123, 217, .5);
}

.circle.first {
    transform: translate(100vw, -50%);
    background-color: rgba(38, 123, 217, .4);
}

.circle.second {
    transform: translate(115vw, -50%);
}

.circle.third {
    transform: translate(130vw, -50%);
    z-index: 4;
}

.circle.third.page-2 {
    background-color: rgba(38, 123, 217, .7);
}

.circle.third.page-2ex {
    background-color: rgba(38, 123, 217, .7);
}

@media (max-width: 768px) {
    .circle {
        top: auto !important;
        bottom: 0;
        left: 50%;
        transform: translate(0, 0);
        width: 155vw;
        height: 155vw;
        border-radius: 50% 50% 0 0;
    }

    .circle.first {
        transform: translate(-50%, 100%);
    }

    .circle.second {
        transform: translate(-50%, 105%);
    }

    .circle.third {
        transform: translate(-50%, 135%);
    }
}

@media (max-width: 500px) {
    .circle {
        width: 172vw;
        height: 172vw;
    }

    .circle.first {
        transform: translate(-50%, 100%);
    }

    .circle.second {
        transform: translate(-50%, 105%);
    }

    .circle.third {
        transform: translate(-50%, 135%);
    }
}

/**/

footer {
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%
}

footer ul li a {
    color: white;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 1em;
}

footer .navigator {
    display: inline-block;
    padding: 5px;
    border: 2px solid rgba(255,255,255,0.7);
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
    border-radius: 50%;
    color: rgba(255,255,255,0.7);
}

footer a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer .navigator:hover {
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
}

.navigator.left {
    transform: translateY(-10px);
}

.navigator.right {
    transform: translateY(-10px);
    opacity: 0;
}

.navigator.right:active {
    transform: translateY(-10px) scale(.9);
}

/* Content */
.content {
    height: 100vh;
    position: relative;
    z-index: 5;
}

@media (max-width: 768px) {
    .content {
        height: calc(100% - 16vh);
        margin-top: 16vh;
    }
}

/* Mobile Navigator */
.mobileNavigator {
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    width: 340px; 
    height: 60px;
    display: block;
    margin: 10px auto;
    max-width: 100%;
    transition: .3s;
    transform: translateY(0px);
}

/* Login Button */
.login {
    display: inline-block;
}

.login button {
    border: none;
    width: 85px;
    height: 85px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    font-weight: 600;
    color: #246cb9;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    animation: pulse 1.3s infinite;
    transition: .3s;
    cursor: pointer;
    transform: scale(1);
}

.login button:hover {
    transform: scale(1.05);
    animation-play-state: paused;
}

.login .circle.third.page-4 {
    position: absolute;
    top: 0;
    transform: translate(34.6vw, -43.8%) scale(0.0);
    border-radius: 50%;
    z-index: 3;
    right: 0;
}

#wrapper .circle.third.page-4 {
    display: none;
}

@media (max-width: 768px) {
    #wrapper .circle.third.page-4 {
        display: block;
    }

    .login button {
        font-size: 1.3em !important;
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 500px) {
    .login button {
        font-size: 1.2em !important;
        width: 85px;
        height: 85px;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(211, 48, 48, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulseUp {
    0% {
        color: rgba(255,255,255,0);
        transform: translateY(10px);
    }
    50% {
        color: rgba(255,255,255,1);
    }
    100% {
        transform: translateY(-10px);
        color: rgba(255,255,255,0);
    }
}

@keyframes pulseDown {
    0% {
        color: rgba(255,255,255,0);
        transform: translateY(-10px);
    }
    50% {
        color: rgba(255,255,255,1);
    }
    100% {
        transform: translateY(10px);
        color: rgba(255,255,255,0);
    }
}

.content .row {
    width: 100%;
}

/* Pagination */

.page-pagination {
    position: fixed;
    right: 0;
    top: 55%;
    z-index: 9999;
    opacity: 0;
}

.page-pagination ul {
    display: block;
}

.page-pagination {
    align-items: center;
    display: flex;
    padding: 10px;
}

.page-pagination ul li.active a.page-link {
    background-color: #fff !important;
    font-weight: bold;
    color: #2269b9 !important;
    border: none !important;
    font-size: 1.2em;
    transform: scale(.7);
}

.page-pagination ul li a.page-link {
    color: #fff !important;
    font-weight: bold;
    transform: scale(.5);
    transition: 1s;
    background-color: rgba(255, 255, 255, .4) !important;
}

@media (max-width: 500px) {
    .page-pagination {
        top: 45%;
        padding: 5px;
    }
    .page-pagination ul li.active a.page-link {
    background-color: #fff !important;
    font-weight: bold;
    color: #2269b9 !important;
    border: none !important;
    font-size: 1.2em;
    transform: scale(.5);
}

.page-pagination ul li a.page-link {
    color: #fff !important;
    font-weight: bold;
    transform: scale(.4);
    transition: 1s;
    background-color: rgba(255, 255, 255, .4) !important;
}
}

/* First Page */
.content.page-1 .col-lg-5,
.content.page-1 .col-lg-4 {
    line-height: 100vh;
    height: 100vh;
    align-items: center;
    display: flex;
}

.content.page-1 h1.title {
    font-size: 2.9em;
    font-weight: 600;
    margin: 0px;
    transform: translate(-3vw, 0);
    opacity: 0;
}

.content.page-1 .info {
    margin: 10px 0px;
    position: relative;
}

.content.page-1 hr {
    width: 3px;
    display: inline-block;
    background-color: white;
    position: absolute;
    top: 0;
    height: 0%;
    opacity: 0;
    transform: rotate(180deg) translateY(-5%);
}

.content.page-1 h3.infoTitle {
    margin: 0px;
    padding: 15px 30px;
    box-sizing: border-box;
    box-sizing: border-box;
    font-size: 2em;
    transform: translate(-3vw, 0);
    opacity: 0;
}

.content.page-1 h3.infoTitle small {
    display: block;
    font-size: 1.6em;
    margin-top: 0.3em;
}

@media (max-width: 768px) {

    .content.page-1 .col-lg-5,
    .content.page-1 .col-lg-4 {
        height: auto !important;
        align-items: normal;
        line-height: normal;
        display: flex;
        text-align: center;
    }

    .content.page-1 * {
        font-size: 0.95em;
    }

    .content.page-1 h1.title {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        font-weight: bold;
        transform: translate(0, 3vw);
    }

    .content.page-1 hr {
        display: none;
    }

    .content.page-1 h3.infoTitle {
        padding: 15px 20px;
        transform: translate(0, 3vw);
        box-sizing: border-box;
        font-weight: bold;
    }

    .content.page-1 i {
        transform: translate(0, 3vw);
        opacity: 0;
    }

    .content.page-1 .login button {
        transform: translate(0, 3vw);
        opacity: 0;
    }

    .content.page-1 {
        z-index: 5;
    }
    
    .content.page-1 .mobileNavigator {
        animation: pulseDown 2s infinite;
        font-size: 3em;
    }
}


@media (max-width: 500px) {
    .content.page-1 * {
        font-size: 0.9em;
    }

    .content.page-1 h1.title {
        font-size: 2em;
        margin-bottom: 5px;
    }

    .content.page-1 h3.infoTitle {
        padding: 5px;
        box-sizing: border-box;
        font-size: 1.9em;
    }

    .content.page-1 .mobileNavigator {
        transform: scale(.7);
    }

    .content.page-1 h3.infoTitle small {
        font-weight: bold;
    }
}

/* Page 2 */
.content.page-2 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    position: absolute;
}

.content.page-2 .row .page-2-desc {
    height: 100vh;
    display: flex;
    align-items: center;
}

.content.page-2 h3 {
    opacity: 0;
    font-weight: 600;
    font-size: 2.3em;
    transform: translateX(-1vw);
    line-height: 1.45em;
    margin-bottom: 1em;
}

.content.page-2 p {
    opacity: 0;
    transform: translateX(-1vw);
    font-size: 1.3em;
}

.content.page-2 hr {
    margin: 0px;
    margin-bottom: 2rem;
    border: none;
    width: 0%;
    opacity: 0;
    height: 3px;
    background-color: white;
    display: block;
}

.content.page-2 .mobileNavigator {
    filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0.4));
}

.content.page-2 .fa-chevron-up {
    animation: pulseUp 1.5s infinite;
}

.content.page-2 .fa-chevron-down {
    animation: pulseDown 1.5s infinite;
}



@media (max-width: 768px) {

    .content.page-2 {
        text-align: center;
        font-size: 1em;
        align-content: space-between;
        align-items: normal;
        z-index: 4;
    }

    .content.page-2 h3,
    .content.page-2 p {
        font-weight: 600;
        transform: translateY(-1vw);
    }

    .content.page-2 .mobileNavigator {
        transform: translateY(-1vw) scale(.6);
    }

}


@media (max-width: 500px) {
    .content.page-2 {
        font-size: .8em;
    }

    .content.page-2 h3 {
        font-size: 1.65em;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .content.page-2 .mobileNavigator {
        padding: 7px 8px;
        transform: translateY(-1vw) scale(0);
        border-width: 5px;
    }

    .content.page-2 p:last-child {
        margin-bottom: 5px;
    }

    .content.page-2 .d-lg-none div {
        margin: 5px 0px !important;
    }

}


/* Page 3 */
.content.page-2b, .content.page-2c, .content.page-2d,  .content.page-2e {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 4;
    position: absolute;
    display: flex;
    align-items: center;
}

.content.page-2b h3, .content.page-2c h3, .content.page-2d h3,  .content.page-2e h3 {
    opacity: 0;
    font-weight: 600;
    font-size: 2.3em;
    transform: translateX(-1vw);
    line-height: 1.45em;
    margin-bottom: 1em;
}

.content.page-2b hr, .content.page-2c hr, .content.page-2d hr,  .content.page-2e hr {
    margin: 0px;
    margin-bottom: 2rem;
    border: none;
    width: 0%;
    opacity: 0;
    height: 3px;
    background-color: white;
    display: block;
    text-align: justify;
}


@media (max-width: 768px) {    
    .content.page-2, .content.page-2b, .content.page-2c, .content.page-2d,  .content.page-2e {
        transform: translateY(120vh);
    }
    .content.page-2b .fa-chevron-up, .content.page-2c .fa-chevron-up, .content.page-2d .fa-chevron-up, .content.page-2e .fa-chevron-up {
        animation: pulseUp 1.5s infinite;
    }
    .content.page-2b .fa-chevron-down, .content.page-2c .fa-chevron-down,  .content.page-2d .fa-chevron-down,  .content.page-2e .fa-chevron-down {
        animation: pulseDown 1.5s infinite;
    }
    .content.page-2b h3, .content.page-2c h3,  .content.page-2d h3,  .content.page-2e h3 {
        text-align: center;
        padding: 0px 1rem;
    }
}

@media (max-width: 500px) {
    .content.page-2b h3, .content.page-2c h3,  .content.page-2d h3,  .content.page-2e h3 {
        font-size:1.4em;
        width: 100%;
        margin: 1.2em 0px;
    }
    
    .content.page-2b hr, .content.page-2c hr, .content.page-2d hr, .content.page-2e hr {
        max-width: 100%;
        margin-bottom: 3rem;
    }
}


/* Page 4 */
.content.page-4 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    position: absolute;
    z-index: 4;
}

.content.page-4 * {
    opacity: 0;
}

.content.page-4 .row {
    height: 100vh;
}

.content.page-4 .menuPage {
    position: relative;
    /*! width: 50vw; */
    top: 50%;
    transform: translateY(-50%);
    padding: 1vh 7vw;
    text-align: center;
}

.content.page-4 .menuPage h2 {
    font-size: 2.7em;
    font-weight: 600;
    color: white;
}

.content.page-4 button.menuButton {
    width: 110px;
    height: 110px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    display: inline-block;
    margin: 10px 15px;
    transition: .3s;
    cursor: pointer;
    border: 1px solid #0855c9;
    box-shadow: 0px 0px 0px 7px white;
}

.content.page-4 button.menuButton *{
    cursor: pointer;
}

.content.page-4 button.menuButton img {
    max-width: 100%;
    width: 55%;
}

.content.page-4 button.menuButton h5 {
    font-size: 1em;
    font-weight: 600;
    margin: 8px 0px 0px 0px;
    color: #0855c9;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
}

.content.page-4 button.menuButton:hover {
    transform: translateY(-4px);
}

.content.page-4 button.menuButton:active {
    transform: scale(.98) translateY(-2px);
}

.content.page-4 .circle.vendor {
    background-color: rgba(255, 255, 255, 1) !important;
}

.content.page-4 .backButton {
    cursor: pointer;
}

.content.page-4 .circle.buyer {
    background-color: rgba(255, 255, 255, 1) !important;
}

@media (max-width: 768px) {
    .content.page-4 .menuPage {
        width: 100%;
        text-align: center;
        font-size: 1.1em;
    }
    .content.page-4 .menuPage .text-right {
        text-align: center !important;
    }
    .content.page-4 .menuPage .menuButton {
        display: block;
        margin: 30px auto;
    }
}


@media (max-width: 768px) {
    .content.page-4 .menuPage {
        width: 100%;
        text-align: center;
        font-size: 1.1em;
    }
    .content.page-4 .menuPage .text-right {
        text-align: center !important;
    }
    .content.page-4 .menuPage .menuButton {
        display: block;
        margin: 30px auto;
    }
    
    .content.page-4 .row {
        /*! align-items: center; */
    }
}

@media (max-width: 500px) {

    .content.page-4 .menuPage {
        width: 100%;
        text-align: center;
        font-size: 0.85em;
        padding: 20px 0px;
    }

    .content.page-4 .menuPage h2 {
        font-size: 2.2em;
    }

    .content.page-4 .backButton {
        font-size: 1.2em;
    }
    
    .content.page-4 .menuPage .text-right {
        text-align: center !important;
    }
    
    .content.page-4 .menuPage .menuButton {
        display: block;
        margin: 30px auto;
    }
    
    .content.page-4 .menuPage .menuButton img {
        width: 50%;
    }
    
    .content.page-4 .row {
        align-items: normal;
    }
}

/* Page 5 */
.content.page-5 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    position: absolute;
    transform: translateX(100vw);
    z-index: 4;
}

@media (max-width: 768px) {
    .content.page-5 {
        transform: translate(0%, 150vh);
    }
}

.circle.third.page-5 {
    background-color: white;
}


.content.page-5 h2 {
    font-size: 2.9em;
    text-align: center;
    font-weight: 600;
    color: rgb(38, 123, 217);
}

.content.page-5 .form-control {
    padding: 14px 18px;
    font-size: 0.825em;
}

.content.page-5 label {
    font-size: 1.15em;
    font-weight: 600;
    color: rgb(38, 123, 217);
}

.content.page-5 hr {
    margin: 3vh 0px;
}

.content.page-5 .formContent {
    position: relative;
    width: 75%;
    margin: auto;
    box-sizing: border-box;
    right: 0;
    top: 50%;
    transform: translate(2vw, -50%);
}

.content.page-5 .btn-info {
    background-color: rgb(38, 123, 217);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.content.page-5 .btn-success {
    color: rgb(38, 123, 217);
    background-color: white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.content.page-5 .btn-info:active {
    background-color: rgb(45, 133, 235) !important;
}

.content.page-5 .btn-success:active {
    color: rgb(38, 123, 217) !important;
    background-color: rgb(255, 255, 255) !important;
}

.content.page-5 input {
    cursor: text;
}

.content.page-5 a {
    cursor: pointer;
}

.content.page-5 a * {
    cursor: pointer;
}

.content.page-5 a span {
    padding: 20px 0px;
    color: #888;
    display: inline-block;
}

.content.page-5 a span b {
    color: rgb(38, 123, 217);
}

.content.page-5 .bgImg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 100%;
    text-align: center;
}

.content.page-5 .bgImg img {
    width: 55%;
    opacity: 0.02;
}

.content.page-5 .row {
    height: 100vh;
    display: flex; 
}

.content.page-5 .row .row {
    height: auto;
}

@media (max-width: 768px) {
    .content.page-5 .row {
        align-items: flex-end;
    }
}

@media (max-width: 500px) {
    .content.page-5 .row {
        align-items: center;
    }
    .content.page-5 .formContent {
        transform: translateY(7vh);
        font-size: .95em;
        width: 90%;
    }
    .content.page-5 .row .col {
        padding: 0px;
        margin: 0px;
    }
    .content.page-5 .row .col span {
        padding: 0px;
    }
    .content.page-5 h2 {
        font-size: 2.4em;
    }
    .circle.page-5.second {
/*         background-color: white; */
    }
}